/*
 * Zaytek Theme - Custom Stylesheet
 * Version: 2.0
 * Description: Rediseño corporativo y profesional.
*/

/* --- 1. Variables y Estilos Base --- */
:root {
    --mint-cream: #F5FFFA;
    --oxford-blue: #0B2545;
    --yale-blue: #13495C;
    --berkeley-blue: #13315C;
    --powder-blue: #AEC3B0;
    --text-light: #F5FFFA;
    --text-dark: #0B2545;
    --text-muted-light: #AEC3B0;
    --text-muted-dark: #13315C;
    --border-light: rgba(174, 195, 176, 0.5);
    --border-dark: rgba(174, 195, 176, 0.2);
    --radius: 0.5rem;
    /* 8px */
    --transition: all 0.3s ease;

    --max-height: 100vwh;
    --max-width: 100vw;

    /* Variables del patron */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    --s: 80px; /* Define el tamaño del patrón */
}

body {    
    font-family: 'Manrope', sans-serif;    
}

.hero{
    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
}